@model PhotosManager.Models.User
@{
    ViewBag.Title = "Modification de profil";
}
<div class="content">
    <br>
    <form method='post' action='/Accounts/EditProfil'>
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <input type="hidden" name="AccessType" id="AccessType" value="@Model.AccessType" />
        <input type="hidden" name="Blocked" id="Blocked" value="@Model.Blocked" />
        <fieldset>
            <legend>Adresse ce courriel</legend>
            <input type="email"
                   class="form-control Email"
                   name="Email"
                   id="Email"
                   placeholder="Courriel"
                   required
                   RequireMessage='Veuillez entrer votre courriel'
                   InvalidMessage='Courriel invalide'
                   CustomErrorMessage="Ce courriel est déjà utilisé"
                   value="@Model.Email">

            <input class="form-control MatchedInput"
                   type="text"
                   matchedInputId="Email"
                   name="matchedEmail"
                   id="matchedEmail"
                   placeholder="Vérification"
                   required
                   RequireMessage='Veuillez entrez de nouveau votre courriel'
                   InvalidMessage="Les courriels ne correspondent pas"
                   value="@Model.Email">
        </fieldset>
        <fieldset>
            <legend>Mot de passe</legend>
            <input type="password"
                   class="form-control"
                   name="Password"
                   id="Password"
                   placeholder="Mot de passe"
                   InvalidMessage='Mot de passe trop court'>

            <input class="form-control MatchedInput"
                   type="password"
                   matchedInputId="Password"
                   name="matchedPassword"
                   id="matchedPassword"
                   placeholder="Vérification"
                   InvalidMessage="Ne correspond pas au mot de passe">
        </fieldset>
        <fieldset>
            <legend>Nom</legend>
            <input type="text"
                   class="form-control Alpha"
                   name="Name"
                   id="Name"
                   placeholder="Nom"
                   required
                   RequireMessage='Veuillez entrer votre nom'
                   InvalidMessage='Nom invalide'
                   value="@Model.Name">
        </fieldset>
        <fieldset>
            <legend>Avatar</legend>
            @Helper.ImageUploader(0, "Avatar", Model.Avatar, "Cliquez glisser une photo")
        </fieldset>

        <input type='submit' name='submit' id='saveUser' value="Enregistrer" class="form-control btn-primary">

    </form>
    <div class="cancel">
        <a href='/Photos/List' class="form-control btn-primary">
            Annuler
        </a>
        <hr>
        <a href='/Accounts/DeleteProfil' class="form-control btn-primary">
            Annuler
        </a>
    </div>
    @section Scripts {
        <script defer>
            addConflictValidation('/Accounts/EmailExist', 'Email', 'saveUser');
        </script>
    }

